.layout1 .container{
    display: flex;
}

.layout1 aside{
    margin-left: 2%;
    width: 42%;
}

.layout1 article{
    width: 58%;
}

.layout2 header{
    display: flex;
    justify-content: space-between;
}

.layout2 .logo{
    width: 20%;
    margin-bottom: 0;
}

.layout2 nav{
    width: 78%;
    margin-bottom: 0;
}

.layout2 main{
    display: flex;
}

.layout2 article{
    margin-right: 2%;
    width:50%;
}

.layout2 .sidebar{
    width:23%;
}

.layout2 .sidenav{
    margin-right: 2%;
    width:23%;
}

.layout3 header{
    display: flex;
    justify-content: space-between;
}

.layout3 .logo{
    width: 20%;
    margin-bottom: 0;
    order: 1;
}

.layout3 nav{
    width: 78%;
    margin-bottom: 0;
}

layout3 .articles{
    display: flex;
    justify-content: space-between;
}

.layout3 .articles article{
    width: 32%;
}

@media screen and (max-width: 768px){
    .layout1 .container,
    .layout2 header,
    .layout2 main,
    .layout3 header,
    .layout3 .articles{
        flex-direction: column ;
    }

    .layout1 aside, 
    .layout1 article,
    .layout2 .logo,
    .layout2 nav,
    .layout2 article,
    .layout2 .sidebar,
    .layout2 .sidenav,
    .layout3 nav,
    .layout3 .logo,
    .layout3 .articles article{
        margin: 0;
        margin-bottom: 2%;
        width: 100%;
    }

}